@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap");

/* Universal Declarations */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 1920px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 2% 4% 0 4%;
  font-family: Dosis, sans-serif;
  color: #121213;
  font-size: 14px;
  line-height: 20px;
}


/* Pre Decleration Starts*/
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-family: Dosis, sans-serif;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

i{
  color: white;
  font-size: large;
 
}

i:hover{
  color: aqua;
  transition: all ease .3s;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

button,
html input[type="button"]{
  border: 0;
  cursor: pointer;
}
 
a{
  text-decoration: none;
}

#ren_link{
  color:#0a1229;
  padding:0;
}

/* Pre Decleration Ends*/


/* Responsive Header */
.responsive_header{
  display: none;
}

/* Header Starts */

/* dropdown list */
.w-dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
}
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}
.w-dropdown-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
}
.w-dropdown-toggle:focus {
  outline: 0;
}

.w-dropdown-list {
  position: absolute;
  background: #dddddd;
  display: none;
  padding: 15px;
  min-width: 100%;
}

.dropdown:hover .w-dropdown-list,
.w-icon-dropdown-toggle:hover .w-dropdown-list {
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-duration: 3s;
  -webkit-transition-duration: 3s;
  position: absolute;
  display: block;
  min-width: 100%;
}

.w-dropdown-list.w--open {
  display: block;
}

.w-dropdown-link {
  padding: 10px 20px;
  display: block;
  color: #222222;
}

/* Banner(Background img header) */
.banner {
  position: relative;
  display: flex;
  height: 85vh;
  padding-right: 5%;
  padding-left: 5%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #c1c3cc;
  background-image: linear-gradient(
      50deg,
      rgba(193, 195, 204, 0.83),
      rgba(193, 195, 204, 0.28)
    ),
    url(./img/Background\ Img.jpg);
  background-position: 0px 0px, 50% 0%;
  background-size: cover;
  background-attachment: scroll, fixed;
}

.section {
  padding: 10% 5%;
}

.section.gray {
  background-color: #f7f8fc;
}

.section.gray.small {
  padding: 8% 0% 20px 20px;
}

.section.add-5-percent {
  padding-top: 15%;
  padding-bottom: 5%;
}

.section.for-project {
  margin-right: -20px;
  padding: 0px 0px 20px;
  background-color: #fff;
}

.section._0-top {
  padding-top: 0%;
}

.section.for-changelog {
  padding-top: 5%;
  padding-bottom: 5%;
}

.container {
  max-width: 1200px;
  flex: 1;
}

.container._2-down {
  margin-top: 100px;
}

/* banner */
.navigation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: flex;
  width: 90%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0%;
  padding-left: 0%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

/* logo */
.brand {
  position: absolute;
  display: flex;
  height: 110px;
  padding-right: 35px;
  padding-left: 35px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  order: -1;
  background-color: #e47312;
}

.brand.normal {
  position: relative;
}

/* nav */
.nav-menu {
  display: flex;
  align-items: center;
  align-self: stretch;
  order: 1;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 31px 14px;
  align-items: center;
  color: #414147;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link.drop {
  display: flex;
}

.navtext {
  position: relative;
  z-index: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #fff;
  color: rgb(65, 65, 71);
}

.nav-link:hover .navtext {
  color: #e47312;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  width: 1px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #e47312;
  transition: 0.1s;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 1px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #e47312;
  transition: 0.1s;
}

.nav-link:hover::before,
.nav-link:hover::after {
  height: 20px;
}

.arrow-image {
  z-index: 1;
  width: 10px;
  margin-left: 7px;
}

.dropdown-list {
  background-color: #fff;
}

.dropdown-list.w--open {
  min-width: 150px;
  padding: 9px 13px;
}

.dropdown-link {
  color: #717177;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.dropdown-link:hover {
  background-color: #f1f1f7;
  color: #e47312;
}

.info-wrapper {
  height: 100%;
  margin-left: 20px;
  padding: 34px 28px 31px;
  background-color: #e47312;
  transition: all 300ms ease;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.info-wrapper:hover {
  background-color: #e98a38;
}

.info-wrapper.for-x {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 75px;
  padding-top: 30px;
}

.top-margin {
  margin-top: 50px;
}

.top-margin.half {
  margin-top: 25px;
}

.top-margin.half.flex {
  display: flex;
  margin-top: 30px;
}

.top-title-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 7%;
  justify-content: space-between;
  align-items: center;
}

.top-title-wrapper.center {
  justify-content: center;
}

.top-title-wrapper.center.vertical {
  margin-bottom: 0%;
  flex-direction: column;
}

.top-title-wrapper.more {
  margin-bottom: 15%;
}

/* Bottom Container box */
.features-wrapper {
  position: absolute;
  left: auto;
  top: auto;
  right: -2.5%;
  bottom: -83px;
  display: flex;
  width: 1000px;
  padding: 15px 100px 5px 50px;
  background-color: #e47312;
  background-image: linear-gradient(186deg, #e47312, #ff6361);
}

.infos-flex {
  z-index: 1;
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: flex-start;
}

.info-child {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.info-child.horizontal {
  margin-bottom: 15px;
  padding-top: 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.info-image {
  width: 24px;
  margin-bottom: 15px;
}

.info-image.left {
  width: 20px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.phone-text {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.paragraph-white {
  margin-bottom: 5px;
  margin-top: 0px;
  color: hsla(0, 0%, 100%, 0.7);
}

.paragraph-white.biger {
  margin-top: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}

.paragraph-white.biger.normal {
  font-weight: 400;
}

.paragraph-white._100 {
  color: #fff;
}

.top-title {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.top-title.abolute {
  position: absolute;
  left: -53px;
  top: -26px;
  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 120px;
  letter-spacing: 11px;
}

.top-title.abolute._75-percent {
  color: rgba(241, 241, 247, 0.75);
}

.top-title.abolute.in-form {
  left: -17px;
  font-size: 100px;
}

.top-title.abolute.also-center {
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.top-title.white {
  color: #fff;
}

.top-title.white.big {
  color: #e47312;
  font-size: 50px;
  line-height: 60px;
}

.top-title.smaller-white {
  margin-right: 60px;
  order: -1;
  flex: 0 0 auto;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}

.top-title.smaller-white.in-footer {
  margin-bottom: 30px;
  padding-right: 14px;
  background-color: #0a1229;
}

.top-title.smaller-white.blog {
  margin-right: 0px;
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 26px;
}

.top-title.smaller-white.no-width {
  display: none;
  margin-right: 0px;
}

.top-title._30px {
  font-size: 30px;
  line-height: 40px;
}

.top-title.small-version {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}

.top-title.on-banner {
  color: #fff;
  font-size: 62px;
  line-height: 70px;
}

.features-icon {
  margin-bottom: 20px;
}

/* link */
.navlink {
  overflow: hidden;
  margin-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #121217;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.navlink.for-button {
  margin-top: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
}

.navlink.for-button.blue {
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navlink.for-button.blue._0 {
  margin-top: 0px;
}

.navlink.for-button.blue.white {
  color: #fff;
}

.navlink.for-button.blue.white.for-footer {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 13px;
}

.navlink.for-button.blue.white.for-footer.in-sidebar {
  margin-bottom: 0px;
  margin-left: 18px;
  color: #414147;
}

.navlink.for-button.blue.white.not-link {
  display: inline-block;
}

.line-animation {
  width: 100%;
  height: 2px;
  margin-top: 3px;
  background-color: #fff;
  opacity: 0;
}

.navlink:hover .line-animation {
  transition: 0.3s;
  background-color: #e47312;
  opacity: 1;
  width: fit-content;
}

.white-trans-0 {
  opacity: 0.3;
}

.fun-facts {
  padding-right: 40%;
}

.social-vertical {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 143px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: #0a1229;
}

.social-icon {
  display: flex;
  width: 40px;
  height: 50px;
  float: left;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
}

.social-icon.no-bottom {
  border-bottom-style: none;
}

.overflow-hidden {
  overflow: hidden;
}


.w-button {
  display: inline-block;
  padding: 15px 35px;
  background-color: #e47312;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Cards Start */

.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.card_img{
  height: 60px;
}

/* Hammer Man Showcase-2  */
.Showcase-2{
  display: grid;
  grid-template-columns: repeat(2, 50% 40%);
  grid-gap: 100px;
  margin-top: 130px;
}

.Showcase-2 > img {
padding-top: 80px;
}

.container .w-container > p{
  padding: 15px 15px 5px 0;
}

/* Employ Details Showcase */
.e_cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.fun-text {
  margin-bottom: 10px;
  color: #e47312;
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
} 

.employ_details_showcase{
 padding-top: 100px; 
}

/* Projects Showcase */
.project_showcase{
  background-color:  #f7f8fc;
  margin: 50px -75px;
  padding: -100px 0;
}

.project_cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}

.project_card{
  position: relative;
  text-align: center;
  color: white;
}

.project_card_cover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e47312;
  height: 100px;
  width: 100px;
  padding: 25px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}
.project_card_cover:hover{
  opacity: 1;
  transition: all ease .5s;
}

/* Linear gradient showcase starts */
.showcase-3{
    background-image: linear-gradient(65deg, #df6f0d, rgba(226, 9, 5, 0.78)), url(./img/Background\ Img.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    padding: 10% 5%;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.showcase-3 p, a{
  color: white;
  padding: 10px;
}

/* Team Showcase Starts */
.team_showcase{
  margin-top: -150px;
}

.team_cards{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 35px;
  margin-top: -50px;
}

.team_card{
  position: relative;
}

.team_card > img{
  height: 350px;
}

.team_article{
  background-color: white;
  text-align: center;
  padding: 15px 0;
}

.team_table{
  border-collapse: collapse;
  position:absolute ;
  bottom: 0;
  right: 0;
}

.team_table tr td{
  background-color: #e47312;
  padding: 20px;
}

/* Terminal Showcase Starts */
.terminal_showcase{
display: grid;
grid-template-columns: repeat(2, 50% 50%);
margin-top: 200px;
}

.terminal_div{
display:flex;
padding: 25px;
}

.employ_info_cards{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 10px;
text-align: center;
}

.employ_info_card-1-1{
  background-color: white;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 60px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  padding: 25px;
  position: relative;
}

.employ_info_card-1-1 h4{
  margin: 25px 0;
}

.employ_info_card-2-1{
  background-color: white;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  padding: 25px;
  position: relative;
}

.employ_info_card-1-1_cover{
  background-color: #e47312;
  position: absolute;
  color: white;
  font-size: 60px;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e47312;
  height: 70px;
  width: 70px;
  padding: 25px;
  border-radius: 50%;  
}

/* News blog */
.news_blog_showcase_cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
}

.news_blog_showcase_article{
  background-color: #e47312;
  color: white;
  padding: 25px 25px 35px 30px;
  background-image: linear-gradient(150deg, #e47312, #ff6361);
}

.news_blog_showcase_article p{
  color: hsla(0, 0%, 100%, 0.7);
  padding: 10px 0;
}

.news_blog_showcase_article a{
  padding-left: 0;
  border-bottom: 1px solid;
}

.news_blog_showcase_article a:hover{
  border-bottom: 2px solid white ;
}

.news_blog_showcase_card{
  position: relative;
}

.news_blog_showcase_card_table{
position: absolute;
border-collapse: collapse;
right: 0;


}

.news_blog_showcase_card_table-1 td{ 
  background-image: linear-gradient(65deg, #ff6361, #e47312);
  color: #fff;
  text-align: center;
  height: 70px;
width: 70px;
  padding: 20px;
  font-size: 26px;
  font-weight: 400;
  cursor: pointer;
}

.news_blog_showcase_card_table-2 td{
background-color: white;
color: #9d9da5;
text-align: center;
height: 40px;
width: 70px;
}

/* Trusted top company logo */
.trusted_companies_logo_card{
  margin-top: 100px;
  margin: 100px -50px 0 -50px;
  background-image: linear-gradient(65deg, #e47312,  #ff6361);
  color: #fff;
  color: white;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer; 
}

.trusted_companies_logo_card p{
  color: white;
}


/* Footer */
.footer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color:#0a1229;;
  color: white;
  padding: 50px;
  position: relative;
}

.footer h4{
  padding: 20px 0;
}
.footer p{
  color: white;
}

.nuuk_border{
  display: inline-block;
  border: 1px solid #e47312;
  width: 150px;
  
}

.about_nuuk{
  padding: 15px;
}
.about_nuuk a{
  padding-left: 0;
}

.services_nuuk ul{
  list-style-type: none;
}

.services_nuuk ul li{
  padding: 10px 0;
  text-align: start;
  cursor: pointer;
}

.contact_us_nuuk{
  padding: 15px;
}

.contact_us_nuuk_article{
  display: grid;
  grid-template-columns: repeat(2, 10% 80%);
  grid-gap: 5px;
}

.contact_us_nuuk_article-1{
  margin-top: -30px;
}

.footer_logo{
  position: absolute;
  background-color: #e47312;
 bottom: 0;
 left: 60px;
 width: 150px;
 height: 100px;
 padding: 40px 40px;
}


/* Media Query */

@media (max-width:400px){

  body {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    color: #121213;
    font-size: 14px;
    line-height: 10px;
  }

.responsive_header{
  display: block;
  top: 0%;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}

.res-logo-{
  background-color: #e47312;
  padding: 15px 25px;
  cursor: pointer;
}

#res_logo{
  position: absolute;
  color: #121213;
  top: 0;
  right:0;
  margin: 5px 15px 0;
  cursor: pointer;
}
  .nav-menu,.features-wrapper{
    display: none;
  }
.paragraph-white{
overflow: hidden;
}
.info-child{
  display: none;
}

.cards , .Showcase-2,
.e_cards, .project_cards,
.team_cards,.terminal_showcase,
.employ_info_cards,
.news_blog_showcase_cards
{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin: 0 auto;
}

.cards{
  padding: 0 20px;
}

.card{
 padding:  30px 0;
}

.card > h4{
  padding: 20px 0 5px 0;
}

.card > p{
  padding: 15px 0;
}
.e_cards{
  padding: 0 20px;
}

.trusted_companies_logo_card{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  text-align: center;
  flex: 1;
  height: 100%;
  padding: 25px 0;
  cursor: pointer;
}
.showcase-3{
  width: 100%;
 text-align: start; 
 margin: 30px 0;
 padding: 25px 35px;
}
.showcase-3 h1{
  font-size: 26px;
}
.showcase-3 p{
  font-size: 14px;
}
.showcase-3 a{
  font-size: 14px;
}

.team_showcase{
  margin: 0 auto;
}

.team_header_showcase{
  margin: 0 auto;
}

.team_card > img{
  width: 100%;
}

.employ_info_card-1-1,.employ_info_card-2-1{
  margin: 50px auto;

}

.news_blog_showcase_card{
  margin: 30px auto;
}
.footer{
  display: grid;
  grid-template-columns: repeat(1,1fr); 
  padding: 30px;
  text-align: start;
}

.contact_us_nuuk_article{
  margin-bottom: 50px;
  line-height: 0;
}

.social-vertical {
  right: 0;
  bottom: 0;
}

#banner_story{
  font-size: 36px;
  line-height:1;
}

#logo-1{
display: none;
}

.top-title-wrapper{
  display: block;
}

.top-title{
  font-size: 26px;
}

#tag_link:hover{
  border-bottom: 2px solid #e47312;
  width: fit-content;
  padding-bottom: 5px;
}

#transparent_tag{
  display: none;
}

.project_showcase{
  margin: 0 auto;
}


.footer_logo{
  height: 50px;
  padding: 15px 25px;
}

.trusted_companies_logo_card{
  margin: 0 auto;
}

.trusted_companies_logo_card > p{
  padding: 25px 0;
}
.trusted_companies_logo_card > h4{
  padding: 25px 0;
}

}